.button {
    color: $white;
    background: $accent;
    padding: 10px;
    width: min-content;
    font-size: 18px;
    border: 0;
    white-space: nowrap;
    &:hover {
        cursor: pointer;
        background: $accent-darker;
        transition: all 0.3s ease-out;
    }
}